<head>
    <meta charset="utf-8"/>
    <title>Blog</title>
    {% load staticfiles %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="{% url 'static' "css/foundation.css" %}">
    <script src="{% url 'static'  "js/vendor/custom.modernizr.js"%}"></script>
    <link rel="stylesheet" href="{% url 'static' "css/normalize.css"%}">
</head>
<body>
<div class="row">
    <div class="large-12 columns">
        <div class="nav-bar right">
            <ul class="button-group">
                <li><a href="{% url 'home' %}" class="button">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'blog_logout' %}" class="button">Logout({{ user.username }})</a></li>
                    <li><a href="{% url 'entries_view' user.username %}" class="button">My entries</a></li>
                    <li><a href="{% url 'blog_add' %}" class="button">Add Entry</a></li>
                {% else %}
                    <li><a href="{% url 'blog_login' %}" class="button">Login</a></li>
                {% endif %}
                <li><a href="{% url 'blog_signup' %}" class="button">Sign Up</a></li>
            </ul>
        </div>
        <h2>Microblog</h2>
        <hr />
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="large-12 columns" role="content">
			{% if messages %}
                {% for message in messages %}
        <div class="alert-box alert-info text-center ">{{message}}
		<a href='#' class="close">&times;</a>
		</div>
                {% endfor %}
			{% endif %}
        {% block content %}{% endblock %}
        </div>
    </div>
    </div>
</div>
</body>